.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
  padding: 10px;
}

.logo span {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: auto;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-size: 20px;
}